<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{layout/default}"
        xmlns="http://www.w3.org/1999/html"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movie</title>
</head>
<body>
<!--begin::Content-->
<div
        class="content d-flex flex-column flex-column-fluid"
        id="kt_content"
        layout:fragment="content"
>
    <!-- Add a script tag to show the alert -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${message}]]*/ '';
        if (message) {
            alert(message);
        }
        /*]]>*/
    </script>
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div
                class="container-fluid d-flex flex-stack"
                id="kt_toolbar_container"
        >
            <!--begin::Page title-->
            <div
                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0"
                    data-kt-swapper="true"
                    data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
            >
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                    Movie List
                </h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a class="text-muted text-hover-primary" href="/admin/home">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Theaters Management</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Movies</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div class="container-xxl" id="kt_content_container">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div
                                class="d-flex justify-content-end"
                                data-kt-user-table-toolbar="base"
                        >
                            <!--begin::Add user-->
                            <button
                                    class="btn btn-primary"
                                    data-bs-target="#kt_modal_add_user"
                                    data-bs-toggle="modal"
                                    type="button"
                            >
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                                <span class="svg-icon svg-icon-2">
                      <svg
                              fill="none"
                              height="24"
                              viewBox="0 0 24 24"
                              width="24"
                              xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect
                                fill="black"
                                height="2"
                                opacity="0.5"
                                rx="1"
                                transform="rotate(-90 11.364 20.364)"
                                width="16"
                                x="11.364"
                                y="20.364"
                        />
                        <rect
                                fill="black"
                                height="2"
                                rx="1"
                                width="16"
                                x="4.36396"
                                y="11.364"
                        />
                      </svg>
                    </span>
                                <!--end::Svg Icon-->Add New Movie
                            </button>
                            <!--end::Add user-->
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Modal - Add task-->
                        <div
                                aria-hidden="true"
                                class="modal fade"
                                id="kt_modal_add_user"
                                tabindex="-1"
                        >
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_user_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bolder">Add Movie</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div
                                                class="btn btn-icon btn-sm btn-active-icon-primary"
                                                data-kt-users-modal-action="close"
                                        >
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                            <svg
                                    fill="none"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                              <rect
                                      fill="black"
                                      height="2"
                                      opacity="0.5"
                                      rx="1"
                                      transform="rotate(-45 6 17.3137)"
                                      width="16"
                                      x="6"
                                      y="17.3137"
                              />
                              <rect
                                      fill="black"
                                      height="2"
                                      rx="1"
                                      transform="rotate(45 7.41422 6)"
                                      width="16"
                                      x="7.41422"
                                      y="6"
                              />
                            </svg>
                          </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        <form
                                                class="form kt_forms"
                                                enctype="multipart/form-data"
                                                id="kt_modal_add_user_form"
                                                method="post"
                                                novalidate
                                                th:action="@{/admin/movie/add}"
                                        >
                                            <!--begin::Scroll-->
                                            <div
                                                    class="d-flex flex-column scroll-y me-n7 pe-7"
                                                    data-kt-scroll="true"
                                                    data-kt-scroll-activate="{default: false, lg: true}"
                                                    data-kt-scroll-dependencies="#kt_modal_add_user_header"
                                                    data-kt-scroll-max-height="auto"
                                                    data-kt-scroll-offset="300px"
                                                    data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
                                                    id="kt_modal_add_user_scroll"
                                            >
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="title"
                                                    >Title</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="title"
                                                            name="title"
                                                            placeholder="Title"
                                                            required
                                                            th:value="${movie.title}"
                                                            type="text"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Title is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="engTitle"
                                                    >English Title</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="engTitle"
                                                            name="engTitle"
                                                            placeholder="English Title"
                                                            required
                                                            th:value="${movie.engTitle}"
                                                            type="text"
                                                    />
                                                    <div class="invalid-feedback">
                                                        English title is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="duration"
                                                    >Duration in minutes</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            accept="image/*"
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="duration"
                                                            min="0"
                                                            name="durationMin"
                                                            placeholder="Movie duration in minute"
                                                            required
                                                            th:value="${movie.durationMin}"
                                                            type="number"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Duration is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="age"
                                                    >Age</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="age"
                                                            name="age"
                                                            required
                                                            th:value="${movie.age}"
                                                    >
                                                        <option value="r">R</option>
                                                        <option value="pg-13">PG-13</option>
                                                        <option value="g">G</option>
                                                        <option value="nc-17">NC-17</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Age is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="openingDate"
                                                    >Opening Date</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="openingDate"
                                                            name="openingDate"
                                                            placeholder="Opening date"
                                                            th:value="${movie.openingDate}"
                                                            type="date"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Opening date is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="genre"
                                                    >Genre</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <select
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="genre"
                                                            name="genre"
                                                            required
                                                            th:value="${movie.genre}"
                                                    >
                                                        <option value="mystery">Mystery</option>
                                                        <option value="horror">Horror</option>
                                                        <option value="comedy">Comedy</option>
                                                        <option value="action">Action</option>
                                                        <option value="drama">Drama</option>
                                                        <option value="history">History</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Genre is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="description"
                                                    >Description</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <textarea
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="description"
                                                            name="description"
                                                            placeholder="Description"
                                                            required
                                                            th:value="${movie.description}"
                                                            type="text">
                                                    </textarea>
                                                    <div class="invalid-feedback">
                                                        Description is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="price"
                                                    >Price</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="price"
                                                            min="1"
                                                            name="price"
                                                            placeholder="Price"
                                                            required
                                                            th:value="${movie.price}"
                                                            type="number"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Price is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="trailer"
                                                    >Trailer</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="trailer"
                                                            name="trailer"
                                                            placeholder="URL trailer"
                                                            required
                                                            th:value="${movie.trailer}"
                                                            type="text"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Trailer url is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="mainImg"
                                                    >Main Image</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            accept="image/*"
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="mainImg"
                                                            name="main_Img"
                                                            required
                                                            type="file"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Main image is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label
                                                            class="required fw-bold fs-6 mb-2"
                                                            for="thumbnailImg"
                                                    >Thumbnail Image</label
                                                    >
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input
                                                            accept="image/*"
                                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                                            id="thumbnailImg"
                                                            name="thumbnail_Img"
                                                            required
                                                            type="file"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Thumbnail image is required
                                                    </div>
                                                    <!--end::Input-->
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <!--end::Scroll-->
                                            <!--begin::Actions-->
                                            <div class="text-center pt-15">
                                                <button
                                                        class="btn btn-light me-3"
                                                        data-kt-users-modal-action="cancel"
                                                        type="reset"
                                                >
                                                    Discard
                                                </button>
                                                <button
                                                        class="btn btn-primary"
                                                        data-kt-users-modal-action="submit"
                                                        type="submit"
                                                >
                                                    <span class="indicator-label">Submit</span>
                                                    <span class="indicator-progress"
                                                    >Please wait...
                                <span
                                        class="spinner-border spinner-border-sm align-middle ms-2"
                                ></span
                                ></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add task-->
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <table
                            class="table align-middle table-row-dashed fs-6 gy-5"
                            id="kt_table_users"
                    >
                        <!--begin::Table head-->
                        <thead>
                        <!--begin::Table row-->
                        <tr
                                class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0"
                        >
                            <th class="min-w-125px">ID</th>
                            <th class="min-w-125px">Image</th>
                            <th class="min-w-125px">Title</th>
                            <th class="min-w-125px">Duration (min)</th>
                            <th class="min-w-125px">Age</th>
                            <th class="min-w-125px">Opening date</th>
                            <th class="min-w-125px">Genre</th>
                            <th class="text-end min-w-100px">Actions</th>
                        </tr>
                        <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <tbody>
                        <tr
                                th:if="${movies.pageList== null || #lists.isEmpty(movies.pageList)}"
                        >
                            <td colspan="4">No data</td>
                        </tr>
                        <tr th:each="item,iterStat : ${movies.pageList}">
                            <td th:text="${item.pk}"></td>
                            <td th:if="${item.thumbnailImg == null}">
                                <img alt="" style="width: 64px; height: 80px; text-align: center"
                                     th:src="@{/assets/media/avatars/no-user-image.png}"/>
                            </td>
                            <td th:if="${item.thumbnailImg != null}">
                                <img alt="" style="width: 64px; height: 80px" th:src="@{${item.thumbnailImg}}">
                            </td>
                            <td th:text="${item.title}"></td>
                            <td th:text="${item.durationMin}"></td>
                            <td th:text="${item.age}"></td>
                            <td th:text="${item.openingDate}"></td>
                            <td th:text="${item.genre}"></td>
                            <!--begin::Action=-->
                            <td class="text-end">
                                <a
                                        class="btn btn-light btn-active-light-primary btn-sm"
                                        data-kt-menu-placement="bottom-end"
                                        data-kt-menu-trigger="click"
                                        href="#"
                                >Actions
                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                    <span class="svg-icon svg-icon-5 m-0">
                                          <svg
                                                  fill="none"
                                                  height="24"
                                                  viewBox="0 0 24 24"
                                                  width="24"
                                                  xmlns="http://www.w3.org/2000/svg"
                                          >
                                            <path
                                                    d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                    fill="black"
                                            />
                                          </svg>
                                        </span>
                                    <!--end::Svg Icon--></a
                                >
                                <!--begin::Menu-->
                                <div
                                        class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
                                        data-kt-menu="true"
                                >
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a
                                                class="menu-link px-3"
                                                th:href="@{'/admin/movie/detail/' + ${item.pk}}"
                                        >Details</a
                                        >
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a
                                                class="menu-link px-3"
                                                data-kt-users-table-filter="delete_row"
                                                th:href="@{'/admin/movie/delete/' + ${item.pk}}"
                                                th:onclick="return confirmDelete()"
                                        >Delete</a
                                        >
                                        <script> function confirmDelete() {
                                            return confirm("Are you sure you want to delete this movie?");
                                        } </script>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                            </td>
                            <!--end::Action=-->
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li
                                th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'"
                        >
                            <a class="page-link" th:href="@{/admin/movie}">First</a>
                        </li>
                        <li
                                th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' "
                        >
                            <a
                                    aria-label="Previous"
                                    class="page-link"
                                    th:href="@{|${baseUrl}${currentIndex - 1}|}"
                                    title="Go to previous page"
                            ><span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span></a
                            >
                        </li>

                        <li
                                th:class="${item == currentIndex ? 'page-item active' :'page-item' }"
                                th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                        >
                            <a class="page-link" th:href="@{|${baseUrl}${item}|}">
                                <span th:text="${item}"></span>
                            </a>
                        </li>
                        <li
                                th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'"
                        >
                            <a
                                    aria-label="Next"
                                    class="page-link"
                                    th:href="@{|${baseUrl}${currentIndex + 1}|}"
                                    title="Go to next page"
                            ><span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span></a
                            >
                        </li>
                        <li
                                th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'"
                        >
                            <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}"
                            >Last</a
                            >
                        </li>
                    </ul>
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script
            defer
            th:src="@{/assets/plugins/custom/datatables/datatables.bundle.js}"
            xmlns:th="http://www.thymeleaf.org"
    ></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script
            defer
            th:src="@{/assets/js/custom/apps/user-management/users/list/table.js}"
            xmlns:th="http://www.thymeleaf.org"
    ></script>
    <script defer
            th:src="@{/assets/js/custom/apps/user-management/users/list/add.js}"
            xmlns:th="http://www.thymeleaf.org"
    ></script>
    <script defer
            th:src="@{/assets/js/custom/widgets.js}"
            xmlns:th="http://www.thymeleaf.org"
    ></script>
    <script th:src="@{/assets/js/custom/disable-invalid-form-submit.js}"></script>
    <!--end::Page Custom Javascript-->
</div>
<!--end::Content-->


</body>
</html>

