<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Recovery</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Password Recovery</h1>
<p>Hello</p>
<p>To reset your RGB account password please click</p>
<br>
<a target="_blank" th:href="${url}"></a>
<br>
<p>Backup link: <span th:text="${url}"></span></p>
<p>If this wasn't you
</p>
<br>
<p>Your RGB account may have been compromised and you should take a few steps to make sure it is secure. To start,
    reset your password now. If you have not yet added 2 Steps-Verification protection to your account, we highly
    recommend you to activate the feature now to enhance the security of your account and prevent unauthorized
    access.!
</p>
<br>
<p>Sincerely,</p>
<br>
<p>Your RGB team</p>
</body>
</html>
