:root {
  --neonCrimson: #e90064;
  --neonPink: #e83d95;
  --neonCyan: #97feed;
  --neonBlue: #6528f7;
  --neonYellow: #fffd8c;
  --neonPurple: #bc13fe;
  --textPrimary: #d3d3d3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #0f0f0f top center no-repeat; */
  background: url("assets/wallbackgrondDarker.jpg") top center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.neonText {
  text-shadow: var(--neonPink) 0px 0px 5px, var(--neonPink) 0px 0px 10px;
  filter: drop-shadow(var(--neonPurple) 0px 0px 5px);
}

.neonText:hover {
  text-shadow: var(--neonPink) 0px 0px 20px, var(--neonPink) 0px 0px 30px;
  filter: drop-shadow(var(--neonPurple) 0px 0px 20px);
}

.neonTextYellow {
  text-shadow: var(--neonYellow) 0px 0px 5px, var(--neonYellow) 0px 0px 15px;
  /* filter: drop-shadow(var(--neonYellow) 0px 0px 5px); */
}

.neonTextYellow:hover {
  color: white;
  text-shadow: var(--neonYellow) 0px 0px 20px, var(--neonYellow) 0px 0px 30px;
  filter: drop-shadow(var(--neonYellow) 0px 0px 5px);
}

.flicker {
  font-size: 4.2rem;
  animation: flicker 1.5s infinite alternate;
}

.logo {
  animation: flickerLogo 1.5s infinite alternate;
}

.logo:hover {
  color: white;
  filter: contrast(120%);
  animation: none;
  text-shadow: #fff 0px 0px 10px, var(--neonCrimson) 0px 0px 15px,
    var(--neonCrimson) 0px 0px 20px, var(--neonCrimson) 0px 0px 30px;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px var(--neonPurple), 0 0 80px var(--neonPurple),
      0 0 90px var(--neonPurple), 0 0 100px var(--neonPurple),
      0 0 150px var(--neonPurple);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* Flickering animation */
@keyframes flickerLogo {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: #fff 0px 0px 10px, var(--neonPink) 0px 0px 20px,
      var(--neonPink) 0px 0px 30px;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* Neon effect on Image */
.neonImageCrimson {
  filter: drop-shadow(0 0 0.75rem var(--neonCrimson));
}
.neonImageBlue {
  filter: drop-shadow(0 0 0.75rem var(--neonBlue));
}
.neonImageYellow {
  filter: drop-shadow(0 0 0.75rem var(--neonYellow));
}
.neonImagePink {
  filter: drop-shadow(0 0 0.75rem var(--neonPink));
}

.neonImagePurple {
  filter: drop-shadow(0 0 0.75rem var(--neonPurple));
}

/* Neon effect on border */
.neonBorder {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--neonPurple),
    0 0 0.8rem var(--neonBlue), inset 0 0 1.3rem var(--neonPurple);
}

/* Overlay Text */
.overlayText {
  display: block;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
  color: #f1f1f1;
  width: auto;
  padding: 20px;
  text-align: center;
}
